<p id="notice"><%= notice %></p>

<h1><%= @school.name %> Vendors</h1>
<h3>Results: <%= @vendors.count %></h3>
<p><%= link_to 'Back to Schools', schools_path %></p>

<%= render "search_box" %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @vendors %>
  </tbody>
</table>

<br>

