<h1>
  <%= @school.name if @school %> Vendors
</h1>

<%= render "search_box" %>
<h3><%== pagy_info @pagy %></h3>
<%== pagy_nav @pagy %>
<br>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @vendors %>
  </tbody>
</table>

<br>

<%= link_to 'Home', schools_path %> |
<%= link_to 'See All Vendors', vendors_path %>
