<p>
  <strong>Name:</strong>
  <%= @vendor.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @vendor.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @vendor.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @vendor.email %>
</p>

<p>
  <strong>Website:</strong>
  <%= @vendor.website %>
</p>

<p>
  <strong>Description:</strong>
  <%= @vendor.description %>
</p>

<p>
  <strong>Content:</strong>
  <%= @vendor.content %>
</p>

<h3>Leave a Comment:</h3>
<table>
  <thead>
    <tr>
      <th>Like</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @vendor.comments %>
  </tbody>
</table>

<%= render "comments/form", comment: @vendor.comments.new %>

<%= link_to 'Back to Vendors', school_vendors_path(@vendor.school) %> |
<%= link_to 'Edit Vendor', edit_vendor_path(@vendor) %> |
<%= link_to 'Claim This Vendor', claim_vendor_path(@vendor) %> |
<%= link_to 'Back to Schools', schools_path %> |
<%= link_to 'See All Vendors', vendors_path %>
